<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/pin2" version="1.0.0" viewmodes="maximized">
    <tizen:application id="e9GL7AoIo7.pin2" package="e9GL7AoIo7" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>pin2</name>
</widget>
